---
import Layout from 'layouts/main.astro';
---

<Layout>
  <article id="mt-100">
    <div class="container">
        <div class="grid-kontakta-oss">
            <div class="kontakta-oss-text">KONTAKTA OSS</div>

            <div class="email">
                <i id="spel" class="fas fa-envelope fa-3x"></i>
                <p>Email</p>
                <p class="beskrivning">rsacic@yahoo.se<br />almir.hamza@hotmail.com </p>
            </div>

            <div class="nummer">
                <i class="fas fa-mobile-alt fa-3x"></i>
                <p>Nummer</p>
                <p class="beskrivning">073 535 09 17<br />070 836 59 71</p>

            </div>

            <div class="plats">
                <i class="fas fa-map-marker-alt fa-3x"></i>
                <p>Plats</p>
                <p class="beskrivning">Ålgårdsvägen 3, 506 30 Borås<br />Örbyvägen 27, 511 61 Skene</p>
            </div>

        </div>
        <br /><br />
    </div>
</article>
</Layout>